:root{
    --green-500:hsl(158, 36%, 37%);
    --green-700:hsl(158, 42%, 18%);
    -- Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
    --font-size-paragraph:14px;
/* font-family: "Fraunces", serif; */
/* font-family: "Montserrat", sans-serif; */

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
img{
    width:100%;
}
body{
    background-color:var(--Cream);
}

/* === Base (mobile-first) === */
.container{
    background-color:var(--White);
    margin:20px;
    border-radius:10px;
}

.figure-section-img img{
    border-radius:10px 10px 0 0 ;
}

.right-section-text {
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}
.right-section-text span{
    text-transform:uppercase;
    font-size:Calc((var(--font-size-paragraph))/1.25);
    letter-spacing:0.25rem;
    font-family: "Montserrat", sans-serif;
    color:var(--Grey);
}

.right-section-text h3{
    font-family: "Fraunces", serif;
    font-size:Calc((var(--font-size-paragraph))*2);
    text-transform:capitalize;
}

.right-section-text p
{   
    color:var(--Grey);
    font-size:Calc((var(--font-size-paragraph))/1.25);
    line-height:1.5;
    font-family: "Montserrat", sans-serif;
    font-weight:700;
}

.discount{
    font-family: "Fraunces", serif;
    display:flex;
    gap:2rem;
    justify-content:start;
    align-items:center;
}

.discount h4{
    font-size:Calc((var(--font-size-paragraph))*2);
    color:var(--green-500);
}
.discount span{
    font-size:Calc((var(--font-size-paragraph))/1.5);
    text-decoration:line-through;
    letter-spacing:0;
    
}

.right-section-text button{
    padding:1rem 0.25rem;
    background-color:var(--green-500);
    border:none;
    color:var(--White);
    border-radius:7px;
    font-family: "Montserrat", sans-serif;
    font-size:var(--font-size-paragraph);
    font-weight:500;
}

.attribution{
    text-align:center;
    padding:2rem;
    font-family: "Montserrat", sans-serif;
    line-height:1.5rem;
    font-size:Calc((var(--font-size-paragraph))/1.25);
    color:var(--green-700);
}

.attribution a{
    color:var(--green-500);
}   